body{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	margin: 0%;
	padding: 0%;
	background: #111;
	color: #fff;
}

.body{
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.footer{
	width: 100%;
	margin: 0;
	padding: 0%;
	color:#fff;
	background: #111;
}